header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black-color);
  position: relative;
}

header > p {
  font-size: x-large;
  font-family: Playfair;
  font-style: italic;
  margin: 0;
  color: var(--primary-color);
  text-align: center;
}

header > img {
  height: 150px;
  object-fit: contain;
}

.logo-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  user-select: none;
}

.logo-container > h1 {
  position: absolute;
  font-size: 120px;
  font-family: Playfair;
}

.logo-container > h2 {
  z-index: 2;
  margin-top: 20px;
  font-size: large;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 5px;
}

.icon-back {
  position: absolute;
  top: 30%;
  left: 0;
  font-size: xxx-large;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.icon-back:hover {
  color: var(--primary-color);
}

.purchase-dynamics > li > span {
  color: var(--tertiary-color);
  font-weight: 600;
}
