.spinner {
  height: 100px;
  width: 100px;
  border: solid rgb(181, 181, 181) 8px;
  border-top: solid var(--primary-color) 8px;
  border-radius: 50%;
  animation: spinner 2s infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
